form {
  min-width: 300px;
  width: 100%;
}

mat-form-field {
  width: 40%;
}

.right {
  margin-left: 18%;
}

mat-form-field.wide {
  width: 100%;
}


button {
  width: 40%;
  height: 40px;
  margin: auto;
}

mat-grid-list {
  width: 280px;
  min-width: 280px;
  margin: auto;
  height: 50px;
}
