<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput id="stateName" name="stateName" placeholder="Name" #stateName
             [formControl]="stateNameControl" required>
      <mat-hint align="end">characters {{stateName.value?.length || 0}} of 100</mat-hint>

      <mat-hint *ngIf="stateNameControl.hasError('required')" class="be error" align="start">The field is required</mat-hint>
      <mat-hint *ngIf="stateNameControl.hasError('maxlength')" class="be error" align="start">The field is too long</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput id="stateColor" name="stateColor" #stateColor placeholder="Color"
             [formControl]="stateColorControl" required>
      <mat-hint align="end">characters {{stateColor.value?.length || 0}} of 100</mat-hint>

      <mat-hint *ngIf="stateColorControl.hasError('required')" class="be error" align="start">The field is required</mat-hint>
      <mat-hint *ngIf="stateColorControl.hasError('maxlength')" class="be error" align="start">The field is too long</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput id="stateColumnCount" name="stateColumnCount" type="number"
             placeholder="Column count" #stateColumnCount
             [formControl]="stateColumnCountControl" required>

      <mat-hint *ngIf="stateColumnCountControl.hasError('required')" class="be error" align="start">The field is required</mat-hint>
      <mat-hint *ngIf="stateColumnCountControl.hasError('between')" class="be error" align="start">Enter the value between 0 and 10</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="isEditMode">
      <input matInput id="stateUid" name="stateUid" placeholder="State uid" #taskUid
             [formControl]="stateUidControl"
             readonly>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <mat-grid-list cols="2">
    <button mat-button [mat-dialog-close]="null">Cancel</button>
    <button mat-button [disabled]="!form.valid" [mat-dialog-close]="collectNewStateFromFormAndComponent()">Ok</button>
  </mat-grid-list>
</mat-dialog-actions>
