<div class="main not-selectable"
     draggable  [dragData]="getDragInfo()" (onDragStart)="select()"
     droppable [dragOverClass]="'drag-target'" [dragHintClass]="'drag-state-hint'" (onDrop)="onItemDrop($event)">
  <div
    [ngClass]="{'item': true, 'selected': isSelected()}"
    (click)="select()">

    <div class="stateIndex">
        {{index + 1}}:
    </div>
    <div class="stateInfo">
      <div class="name be label" [style.color]="state.color">{{state.name}}</div>
      <div class="uid be label">{{state.uid}}</div>
    </div>

  </div>
</div>
