<div class="main">
  <waiting-indicator [visible]="isWaiting"></waiting-indicator>
  <div class="states">
    <h3>State list:</h3>
    <mat-divider></mat-divider>
    <mat-grid-list cols="3">
      <button mat-button (click)="addState()">Add</button>
      <button mat-button (click)="deleteSelectedState()" [disabled]="!isThereSelectedState()">Delete</button>
      <button mat-button (click)="editState()" [disabled]="!isThereSelectedState()">Edit</button>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <div class="be scrollContainer stateList" scrolled-drag-area [style.height.px]="windowHeight / 2">
      <mat-list>
        <mat-list-item *ngFor="let s of states.elementsSequence; let i = index">
          <state-list-item (dragStateChange)="setDragState($event)" (stateMoved)="moveStateItem($event)"
                           [state]="getState(s)" [index]="i"></state-list-item>
        </mat-list-item>
        <mat-list-item>
          <fake-drop-item [visible]="isDragMode" (stateMoved)="moveStateItem($event)"></fake-drop-item>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-actions>
    <mat-grid-list cols="2">
      <button mat-button [mat-dialog-close]="null">Cancel</button>
      <button mat-button [mat-dialog-close]="states">Ok</button>
    </mat-grid-list>
  </mat-dialog-actions>

</div>
