<div class="main">
  <div class="states">
    <h3>State list:</h3>
    <mat-divider></mat-divider>
    <mat-grid-list cols="3">
      <button mat-button (click)="addState()">Add</button>
      <button mat-button [disabled]="!isThereSelectedState()">Delete</button>
      <button mat-button [disabled]="!isThereSelectedState()">Edit</button>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-list class="be scrollContainer stateList">
      <mat-list-item *ngFor="let s of states.elementsSequence; let i = index">
        <state-list-item [state]="getState(s)" [index]="i"></state-list-item>
      </mat-list-item>
    </mat-list>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

</div>
