<div *ngIf="!hasTask()" class="undefined" [style.width.px]="width()" [style.height.px]="height()"
     [style.top.px]="getTop()" [style.left.px]="getLeft()"
     (dblclick)="editTask(false)" >

</div>

<div *ngIf="hasTask()"
     [ngClass]="{'task': true, 'selected': isSelected()}"
     [style.width.px]="width()" [style.height.px]="height()"
     [style.top.px]="getTop()" [style.left.px]="getLeft()"
     (click)="select()"
     (dblclick)="editTask(true)"
     [sh-context]="contextMenu.contextMenuItems" [sh-options]="contextMenu.contextMenuOptions" [sh-data-context]="this" (onBeforeMenuOpen)="onBefore($event)">
  <div class="id right textLenLimit">{{task.id}}</div>
  <div class="summary textLenLimit">{{task.summary}}</div>
  <div class="estimating right textLenLimit">{{task.actualDuration}}/{{task.expectedDuration}}</div>
</div>
