<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput id="taskId" name="taskId" placeholder="Id" #taskId
             [formControl]="taskIdControl"
             required maxlength="10">
      <mat-hint align="end">characters {{taskId.value?.length || 0}} of 10</mat-hint>

      <mat-hint *ngIf="taskIdControl.hasError('required')" class="be error" align="start">The field is required</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput id="taskSummary" name="taskSummary" #taskSummary placeholder="Summary"
             [formControl]="taskSummaryControl"
             required maxlength="200">
      <mat-hint align="end">characters {{taskSummary.value?.length || 0}} of 200</mat-hint>

      <mat-hint *ngIf="taskSummaryControl.hasError('required')" class="be error" align="start">The field is required</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput id="taskExpectedDuration" name="taskExpectedDuration" type="number"
             placeholder="Expected duration" #taskExpectedDuration
             [formControl]="taskExpectedDurationControl"
             min="0">
    </mat-form-field>

    <mat-form-field *ngIf="isEditMode">
      <input matInput id="taskUid" name="taskUid" placeholder="Task uid" #taskUid
             [formControl]="taskUidControl"
             readonly>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <mat-grid-list cols="2">
    <button mat-button [mat-dialog-close]="null">Cancel</button>
    <button mat-button [mat-dialog-close]="collectNewTaskFromFormAndComponent()">Ok</button>
  </mat-grid-list>
</mat-dialog-actions>
