<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
  <form [formGroup]="form" (dblclick)="getFormValidationErrors()">
    <mat-form-field>
      <input matInput id="taskId" name="taskId" placeholder="Id" #taskId
             [formControl]="taskIdControl" required>
      <mat-hint align="end">characters {{taskId.value?.length || 0}} of 20</mat-hint>

      <mat-hint *ngIf="taskIdControl.hasError('required')" class="be error" align="start">The field is required</mat-hint>
      <mat-hint *ngIf="taskIdControl.hasError('maxlength')" class="be error" align="start">The field is too long</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput id="taskSummary" name="taskSummary" #taskSummary placeholder="Summary"
             [formControl]="taskSummaryControl" required>
      <mat-hint align="end">characters {{taskSummary.value?.length || 0}} of 200</mat-hint>

      <mat-hint *ngIf="taskSummaryControl.hasError('required')" class="be error" align="start">The field is required</mat-hint>
      <mat-hint *ngIf="taskSummaryControl.hasError('maxlength')" class="be error" align="start">The field is too long</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput id="taskExpectedDuration" name="taskExpectedDuration" type="number"
             placeholder="Expected duration" #taskExpectedDuration
             [formControl]="taskExpectedDurationControl" required>

      <mat-hint *ngIf="taskExpectedDurationControl.hasError('required')" class="be error" align="start">The field is required</mat-hint>
      <mat-hint *ngIf="taskExpectedDurationControl.hasError('between')" class="be error" align="start">Enter the value between 0 and 356</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="isEditMode">
      <input matInput id="taskUid" name="taskUid" placeholder="Task uid" #taskUid
             [formControl]="taskUidControl"
             readonly>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <mat-grid-list cols="2">
    <button mat-button [mat-dialog-close]="null">Cancel</button>
    <button mat-button [disabled]="!form.valid" [mat-dialog-close]="collectNewTaskFromFormAndComponent()">Ok</button>
  </mat-grid-list>
</mat-dialog-actions>
