div.state {
  #background-color: aqua;
  position: absolute;
}

p.name {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: large;
  text-shadow: 0px 0px 5px gray;
}

div.verticalLine {
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  box-shadow: 0px 0px 5px gray;

}
