div.state {
  #background-color: aqua;
  position: absolute;
}

p.name {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: large;
}

div.verticalLine {
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}
