div.worker {
  #background-color: lightskyblue;
  position: relative;
}

div.task {
  position: absolute;
}

div.name {
  position: absolute;
  right: 1%;
  text-shadow: 0px 0px 5px gray;
}

div.tasks {
  position: absolute;
  top: 1em;
}

div.horLine {
  position: absolute;
  top: 0px;
  height: 2px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 5px gray;
}
